.footer {
    margin-left: 126px;
    margin-right: 126px;
    margin-bottom: 26px;
    margin-top: 100px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    font-family: "mulish", serif;
    font-size: 18px;
    font-weight: bold;

    &__links {
    text-decoration: none;
    list-style: none;
    }
}

.logo {
    width: 90px;
    height: 19px; 
}

