.header {
    margin-top: 61px;
    margin-left: 126px;
    margin-right: 126px;
    margin-bottom: 100px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
&__logo {
    width: 90px;
    height: 19px; 
}

.nav {
    font-family: "mulish", serif;
    font-size: 18px;
    font-weight: bold; 
    list-style: none;
    text-decoration: none;

    &__links li, &__links li a {
        text-decoration: none; 
    }
}
