.header {
    margin-top: 61px;
    margin-left: 126px;
    margin-right: 126px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 90px;
    height: 19px; 
}

.nav {
    display: flex; 
    font-family: "mulish", serif; 
    font-size: 18px;
    font-weight: bold; 

        &__links {
        color: #000;
        text-decoration: none; 
        list-style: none; 
}
}